.background {
  @apply absolute inset-0 bg-cover px-0;
  top: 10px;
  left: 311px;
}

.avatar {
  @apply absolute inset-0 px-0;
  top: 83px;
  left: 0; 
  background-image: url('../../../assets/images/photo.png');
}
